<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempero de Casa</title>
    <link rel="stylesheet" href="../css/w3.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <!--
    <main id="main">
        <div class="w3-row">
            <p class="w3-col m4 w3-center">Catálogo</p>
            <img class="w3-col m4 w3-center logo" src="" alt="Logo">
            <p class="w3-col m4 w3-center">Premium</p>
        </div>
        <div class="w3-row">
            <p class="w3-col s12 p_endereco w3-center">Brasil</p>
        </div>
    </main>
    -->

    <main>
        <!--
            <section class="hero">
                <h2>Tempero de Casa</h2>
                <img src="../images/pexels-jéshoots-3690.jpg" alt="">
            </section>
        -->
        <h1>Tempero De Casa</h1>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d240096.92212872958!2d-43.96405015!3d-19.902716299999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa690cacacf2c33%3A0x5b35795e3ad23997!2sBelo%20Horizonte%2C%20MG!5e0!3m2!1spt-BR!2sbr!4v1686837070278!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <input type="text" placeholder="Endereço">
        <section class="sobre">
            <div class="w3-content w3-display-container carousel">
                <img class="carouselImages1 w3-animate-right" src="../images/pexels-syed-qaarif-andrabi-16018410.jpg">
                <!--Foto de Syed Qaarif Andrabi: https://www.pexels.com/pt-br/foto/chefe-de-cozinha-chef-cozinhando-cozimento-16018410/-->
                <img class="carouselImages1 w3-animate-right" src="../images/pexels-chan-walrus-958545.jpg"">
                <!--Foto de Chan Walrus: https://www.pexels.com/pt-br/foto/prato-cozido-branco-e-marrom-em-tigelas-de-ceramica-branca-958545/-->
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque earum soluta nostrum omnis fugiat, nam laudantium vero impedit quam, sapiente doloremque, vitae eos quidem! Dolorum sit, sequi temporibus illum ut corporis accusamus expedita? Ipsam repellendus repudiandae molestiae aliquam id, deserunt est excepturi perspiciatis temporibus! Beatae, et doloremque. Velit, sint fuga?</p>
        </section>
        <h2>Usuarios Destaque</h2>
        <section class="usuariosDestaque">
            <div class="card">
                <img src="../images/person-circle.svg" alt="usuario">
                <p>Fulano</p>
                <p>Especialidades: </p>
                <p>tortas, massas</p>
            </div>
            <div class="card">
                <img src="../images/person-circle.svg" alt="usuario">
                <p>Fulano</p>
                <p>Especialidades: </p>
                <p>tortas, massas</p>
            </div>
            <div class="card">
                <img src="../images/person-circle.svg" alt="usuario">
                <p>Fulano</p>
                <p>Especialidades: </p>
                <p>tortas, massas</p>
            </div>
            <div class="card">
                <img src="../images/person-circle.svg" alt="usuario">
                <p>Fulano</p>
                <p>Especialidades: </p>
                <p>tortas, massas</p>
            </div>
        </section>
    </main>
    
    <footer>

    </footer>

    <script src="../scripts/w3.js"></script>
    <script src="../scripts/util.js"></script>
    <script src="../htmlModules/header.js"></script>
</body>

</html>